:local .item {
  display: block;
  background-color: #77642b;
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 400ms cubic-bezier(0.51, -0.01, 0.29, 1.07);
  background: url(http://lorempixel.com/g/500/500/);
  /*background-attachment: fixed;*/
  background-position: top left;
  background-size: cover;
  position: relative;
}

:local .item:nth-child(1) {
  background-image: url(http://lorempixel.com/g/500/500/food/1/);
}

:local .item:nth-child(2) {
  background-image: url(http://lorempixel.com/g/500/500/transport/4/);
}

:local .item:nth-child(3) {
  background-image: url(http://lorempixel.com/g/500/500/transport/5/);
}

:local .item:nth-child(4) {
  background-image: url(http://lorempixel.com/g/500/500/transport/6/);
}

:local .item:nth-child(5) {
  background-image: url(http://lorempixel.com/g/500/500/transport/7/);
}

:local .item:hover,
:local .item:active {
  width: 140%;
}

:local .navigation {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:local .page {
  display: flex;
}

:local .innerContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

:local .outerHome {
  height: 100%;
}

@media screen and (min-width: 1024px) {
  :local .item {
    display: block;
  }
}
