.head {
  width: 50px;
  height: 50px;
  background: brown;
}

.row {
  display: flex;
  display: flex;
  justify-content: space-between;
}

.horizontalColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

.verticalColumn {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 1em;
}

.horizontalInput {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1em;
}

.horizontalInput:last-of-type {
  padding-bottom: 0;
}

.footerRow {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
