.menu {
  display: flex;
  height: 100%;
}

.menuItem {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 1em;
  padding-right: 1em;
}

.menuItem:hover,
.menuItem:active,
.menuItem:focus {
  background: #77732b;
  color: #fff;
  cursor: pointer;
}
