.true {
  background: rgb(200, 30, 30);
  color: #fff
}

.false {
  background: #666;
  color: #000
}

.pageArticle {
  height: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
