@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:global body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

:global html,
:global body,
:global #root {
  height: 100%;
}

:local .page,
:local .container {
  height: 100%;
}

