.navItem {
  display: block;
  background-color: #77642b;
  color: #fff;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 400ms cubic-bezier(0.51, -0.01, 0.29, 1.07);
  background: url(http://lorempixel.com/g/500/500/);
  background-position: top left;
  background-size: cover;
  position: relative;
}

.navItem:nth-child(1) {
  background-image: url(http://lorempixel.com/g/500/500/food/1/);
  background-color: rgb(100, 200, 255);
}

.navItem:nth-child(2) {
  background-image: url(http://lorempixel.com/g/500/500/transport/4/);
  background-color: rgb(255, 200, 100);
}

.navItem:nth-child(3) {
  background-image: url(http://lorempixel.com/g/500/500/transport/5/);
  background-color: rgb(255, 255, 100);
}

.navItem:nth-child(4) {
  background-image: url(http://lorempixel.com/g/500/500/transport/6/);
  background-color: rgb(100, 255, 100);
}

.navItem:nth-child(5) {
  background-image: url(http://lorempixel.com/g/500/500/transport/7/);
  background-color: rgb(100, 100, 100);
}

.navItem:hover,
.navItem:active {
  width: 140%;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
}


